.brandlogo {
    margin-top: 11.5rem !important;
    height: 26.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    overflow-x: scroll;
}

.brandlogo img {
    min-width: 19.3rem;
}
