.copyright {
    height: 8.4rem;
    background-color: var(--background-footer);
    border-top: 0.1rem solid #3d3f4e;
}

.copyright-main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright-left {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;
}

.copyright-right img{
    height: 2.4rem;
    width: 21.3rem;
}
