.featured {
    display: flex;
    flex-direction: column;
    gap: 4.3rem;
    margin-top: 11.5rem !important;
    position: relative;
}

.featured-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-text a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--purple-dark);
}

.featured-title {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: var(--text-dark);
}

.featured-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-card__profile {
    display: flex;
    flex-direction: column;
    width: 37.4rem;
    min-width: 262px;
    height: 23.8rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.2rem 2.8rem rgba(62, 53, 120, 0.04);
    border-radius: 1.8rem;
}

.featured-card__top {
    display: flex;
    flex: 1;
}

.featured-card__img {
    width: 8.6rem;
    height: 8.6rem;
    background-color: var(--gray);
    border-radius: 50%;
    position: relative;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 2.3rem;
}

.featured-card__img img {
    height: 2.2rem;
    width: 2.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.featured-card__info {
    margin-top: 5.3rem;
}

.featured-card__text {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--text-dark);
}

.featured-card__sub {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: black;
}

.featured-card_bot {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    justify-content: space-between;
}

.featured-card__starnum {
    display: flex;
    align-items: center;
}

.featured-card__star {
    display: flex;
    gap: 0.6rem;
    margin-right: 1.2rem;
}

.featured-card__star img {
    height: 1.5rem;
    width: 1.6rem;
}

.featured-card__num {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.2rem;
}

.featured-card_btn {
    width: 10.3rem;
    height: 4.3rem;
    background-color: var(--orange);
    border-radius: 3.7rem;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-color: transparent;
}

.featured-card_btn:hover {
    background-color: white;
    color: var(--orange);
    border-color: var(--orange);
}

.featured-arrowleft {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 18.5rem;
    left: -2.5rem;
}

.featured-arrowright {
    position: absolute;
    top: 18.5rem;
    right: -2.5rem;
    height: 5rem;
    width: 5rem;
}

.featured-card::-webkit-scrollbar {
    display: none;
}
