.footer {
    background-color: var(--background-footer);
    height: 57.9rem;
}

.footer-main {
    display: flex;
    /* height: 100%; */
    padding-top: 15.3rem;
}

.footer-col1 {
    height: 29.5rem;
    width: 42.7rem;
    display: flex;
    flex-direction: column;
    margin-right: 11.4rem;
}

.footer-col1__logo img {
    height: 5.7rem;
    width: 14.4rem;
}

.footer-col1__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;
    margin-top: 6rem;
}

.footer-col1__social img {
    width: 5.8rem;
    height: 5.8rem;
    margin-top: 3.2rem;
}

.footer-col2 {
    display: flex;
}

.footer-colmain {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-colmain__title {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: #ffffff;
}

.footer-colmain__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;
}

.footer-colmain__2 {
    margin-left: 13.8rem;
    margin-right: 10.8rem;
}

.footer-col5 {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-left: 11.2rem;
}

.footer-col5__body {
    display: flex;
    gap: 4rem;
    flex-direction: column;
}

.footer-col5__body p {
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;
}

.footer-col5__address {
    width: 28.5rem;
}

.footer-col5__body img {
    width: 2.4rem;
    height: 2.4rem;
}

.footer-col5__title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: #ffffff;
}

.footer-col5__contact {
    display: flex;
    gap: 1.5rem;
}
