.header {
    background-color: var(--background);
    padding: 3.7rem 0;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13rem ;
    height: 100%;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12.8rem;
}

.header-menu {
    display: none;
    width: 4rem;
    height: 4rem;
}

.header-logo .logo {
    height: 5.66rem;
    width: 14.4rem;
}

.header-nav {
    display: flex;
    gap: 5.1rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-search {
    height: 6rem;
    width: 38.5rem;
    border-radius: 3.7rem;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
}

.header-search input {
    border-color: transparent;
    outline: none;
    padding-left: 3rem;
}

.header-search img {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
}

.header-display .header-left {
    flex-direction: column;
    height: 100%;
    align-items: start;
    gap: 3rem;
}

.header-display .header-left .header-logo {

}

.header-display .header-left .header-nav {
    display: block;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header-display .header-right {
    display: block;
    height: 100%;
    padding-top: 5rem;
    display: flex;
}

.wrapper .wrapper-header .header-display{
    z-index: 100;
    height: 40rem !important;
    background-color: white !important;
}
