.howwork {
    height: 85.1rem;
    display: flex;
}

.howwork-left {
    padding-top: 5.5rem;
    flex: 1;
}

.howwork-title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.7rem;
    color: var(--purple-dark);
}

.howwork-text {
    margin-top: 1.5rem;
    margin-bottom: 6.2rem;
    font-weight: 600;
    font-size: 5rem;
    line-height: 7.5rem;
    color: var(--text-dark);
    height: 15rem;
    width: 66.9rem;
}

.howwork-allpart {
    display: flex;
    gap: 3.4rem;
    flex-direction: column;
}

.howwork-part {
    display: flex;
    align-items: center;
    height: 11.9rem;
    width: 65rem;
    border-radius: 2rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.7rem 2.2rem rgba(143, 134, 196, 0.07);
    border-radius: 2rem;
}
.howwork-part1__num {
    margin-left: 2.3rem;
    margin-right: 2.9rem;
    width: 8.4rem;
    height: 8.4rem;
    background-color: #f6ebff;
    border-radius: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.howwork-part1__num span {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 5.4rem;
    color: #8e22e2;
}

.howwork-part__textmain {
    width: 43.4rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: var(--text-dark);
}

.howwork-part2 {
    display: flex;
    width: 65rem;
    height: 17.6rem;
    background-color: #ffffff;
    box-shadow: 0rem 1.9rem 2.9rem rgba(62, 53, 120, 0.14);
    border-radius: 2rem;
}

.howwork-part2__num {
    margin-top: 1.7rem;
    margin-left: 2.3rem;
    margin-right: 2.9rem;
    width: 8.4rem;
    height: 8.4rem;
    background-color: #e7e9ff;
    border-radius: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.howwork-part2__num span {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 5.4rem;
    color: #2b3dc7;
}

.howwork-part2__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.6rem 0;
}

.howwork-part2__textsub {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #909091;
    width: 47.8rem;
    height: 7.8rem;
}

.howwork-part3__num {
    margin-left: 2.3rem;
    margin-right: 2.9rem;
    width: 8.4rem;
    height: 8.4rem;
    background-color: #e9ffef;
    border-radius: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.howwork-part3__num span {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 5.4rem;
    color: #3dcd65;
}

.howwork-right {
    flex: 1;
    position: relative;
}

.howwork-media {
    width: 75.3rem;
    height: 66rem;
    background-color: var(--gray);
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13.1rem;
}

.howwork-chart {
    position: absolute;
    top: 22.7rem;
    left: 64.4rem;
    height: 20.1rem;
    width: 20.4rem;
}

.howwork-circle {
    position: absolute;
    height: 5.7rem;
    width: 7.5rem;
    left: 12.9rem;
    top: 7.4rem;
}

.howwork-lines {
    height: 3.9rem;
    width: 7.7rem;
    border-radius: 0.7rem;
    position: absolute;
    top: 65.3rem;
    left: -3.4rem;
}
