.introduce {
    background-color: var(--background);
}

.introduce-main {
    position: relative;
    height: 81.3rem;
    display: flex;
}

.introduce-left {
    flex: 1;
}

.introduce-text {
    width: 81rem;
}

.introduce-text__main {
    padding-top: 15.6rem;
}

.introduce-text__main h1 {
    height: 24rem;
    font-size: 6rem;
    font-weight: 600;
    line-height: 8rem;
    color: var(--text-dark);
    margin: 0;
}

.introduce-text__main span {
    color: var(--purple-dark);
}

.introduce-text__sub {
    height: 5.6rem;
    width: 53.1rem;
    margin-top: 2.4rem;
}

.introduce-text__sub p {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.introduce-button {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    width: 81rem;
    position: relative;
}

.introduce-button__play {
    background-color: white;
    border: 1px solid #f2f2f2;
    margin-left: 2.2rem;
    margin-right: 1.4rem;
    display: flex;
    align-items: center;
    padding: 1.8rem;
    border-radius: 50%;
}

.introduce-button__play:hover {
    cursor: pointer;
}

.introduce-button__text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--text-dark);
}

.introduce-right {
    flex: 1;
}

.introduce-right__main {
    width: 57.5rem;
    height: 57.5rem;
    background-color: #b3c3ff;
    border-radius: 50%;
    margin: 19.4rem auto 4.4rem auto;
    position: relative;
}

.introduce-card {
    position: absolute;
    top: 55rem;
    left: 65.8rem;
    height: 15.4rem;
    max-width: 41.6rem;
    border-radius: 1.7rem;
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 0px 1.1rem 3.9rem rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(5.5px);
    display: flex;
    align-items: center;
    z-index: 3;
    padding: 0 2.6rem;
}

.introduce-card__img {
    height: 10.2rem;
    width: 10.2rem;
    border-radius: 2rem;
    background-color: var(--gray);
}

.introduce-card__info {
    display: flex;
    flex-direction: column;
    padding-left: 1.6rem;
}

.introduce-card__name {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.9rem;
}

.introduce-card__job {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1.55rem;
}

.introduce-card__star {
    display: flex;
    gap: 0.9rem;
}

.introduce-card__star img {
    height: 2.3rem;
    width: 2.4rem;
}

.introduce-card__tick {
    display: flex;
    gap: 2.15rem;
    margin-left: 0.5rem;
}

.introduce-card__tick img {
    height: 3rem;
    width: 3rem;
}

.introduce-ellipse {
    position: absolute;
    height: 57.5rem;
    width: 57.5rem;
    top: 19.4rem;
    left: 92.6rem;
    z-index: 2;
}

.introduce-chart {
    position: absolute;
    top: 10.2rem;
    right: -11.2rem;
    z-index: 4;
    height: 20.1rem;
    width: 20.4rem;
}

.introduce-circles {
    position: absolute;
    width: 3.6rem;
    height: 6.6rem;
    top: 0;
    left: -4.6rem;
}

.introduce-circlesxam {
    height: 4.62rem;
    width: 4.65rem;
    position: absolute;
    top: 44.2rem;
    right: -6.3rem;
}

.introduce-purpledot {
    height: 5.4rem;
    width: 5.4rem;
    position: absolute;
    right: 1.1rem;
    bottom: 13.3rem;
    z-index: 5;
}

.introduce-emoji {
    position: absolute;
    top: -10.7rem;
    right: 15.3rem;
    height: 9.2rem;
    width: 8.2rem;
}

.introduce-bluedot {
    position: absolute;
    top: -1rem;
    right: 5.8rem;
}

.introduce-slider {
    position: absolute;
    top: 14.6rem;
}
