.newsletter {
    height: 36.6rem;
    margin-top: 23rem;
    background-color: var(--background-footer);
}

.newsletter-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.newsletter-left {
    width: 78.9rem;
    font-style: normal;
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 7.6rem;
    color: #ffffff;
}

.newsletter-right {
    box-sizing: border-box;
    width: 54.6rem;
    height: 8rem;
    border: 0.1rem solid #363843;
    border-radius: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter-right input {
    background-color: transparent;
    outline: none;
    border: 0rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #72737c;
    margin-left: 3.7rem;
}

.newsletter-right button {
    width: 19.679rem;
    height: 6rem;
    background-color: var(--orange);
    box-shadow: 0rem 1.9rem 2.9rem rgba(62, 53, 120, 0.14);
    border-radius: 3.7rem;
    border-color: transparent;
    margin-right: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #ffffff;
}

.newsletter-right button:hover {
    border-color: var(--orange);
    color: var(--orange);
    background-color: #ffffff;
}
