.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90.1rem;
}

.pricing-card {
    height: 56.8rem;
    width: 40.7rem;
    border-radius: 2rem;
    background-color: #ffffff;
    box-shadow: 0rem 1rem 2.8rem rgba(62, 53, 120, 0.07);
}

.pricing-head {
    padding-top: 6rem;
}

.pricing-head__title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 6rem;
    text-align: center;
    color: var(--text-dark);
    margin-bottom: 1.9rem;
}

.pricing-head__sub {
    width: 71.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.pricing-body {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 9rem;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-card__title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.6rem;
    text-align: center;
    padding-top: 4.5rem;
}

.pricing-card__price {
    font-weight: 600;
    font-size: 6rem;
    line-height: 9rem;
    text-align: center;
    padding-top: 3.8rem;
}

.pricing-card__expiry {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-dark);
}

.pricing-card__benefit {
    display: flex;
    flex-direction: column;
    padding: 5.3rem 0;
}

.pricing-card__line {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.pricing-card__line img {
    width: 2rem;
    height: 2rem;
}

.pricing-card__line p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 4.2rem;
    color: var(--text-dark);
    margin: 0;
}

.pricing-card__btn {
    width: 30.6rem;
    height: 6rem;
    background-color: #f7f5ff;
    border-radius: 6rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--purple-dark);
    border-color: transparent;
}

.pricing-card__btnpri {
    width: 30.6rem;
    height: 6rem;
    background-color: var(--purple-dark);
    border-radius: 6rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: white;
    border-color: transparent;
}

.pricing-card button:hover {
    background-color: white;
    border-color: var(--purple-dark);
    color: var(--purple-dark);
}
