@import './header.css';
@import './introduce.css';
@import './howwork.css';
@import './featured.css';
@import './brandlogo.css';
@import './testimonial.css';
@import './counter.css';
@import './pricing.css';
@import './newsletter.css';
@import './footer.css';
@import './copyright.css';

:root {
    --background: #f8f9fd;
    --text-dark: #363848;
    --purple-light: #f0eeff;
    --purple-dark: #5f4bdb;
    --gray: #c4c4c4;
    --orange: #fe8d4d;
    --background-footer: #1f2131;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

button,
img:hover {
    cursor: pointer;
}

.btn {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 16px 39px;
    border-radius: 37px;
    color: inherit;
}

.btn--light {
    background-color: var(--purple-light);
    border-color: transparent;
}

.btn--light:hover {
    background-color: white;
    border-color: var(--purple-dark);
    color: var(--purple-dark);
}

.btn--dark {
    background-color: var(--purple-dark);
    border-color: transparent;
    color: white;
}

.btn--dark:hover {
    background-color: white;
    border-color: var(--purple-dark);
    color: var(--purple-dark);
}

.wrapper {
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }
    .header-left {
        flex-direction: column;
    }
    .header-nav {
        flex-direction: column;
    }
    .introduce-left {
        width: 100%;
    }
    .introduce-right {
        display: none;
    }
    .howwork {
        flex-wrap: wrap;
    }
    .howwork-right {
        display: none;
    }
    .featured-card {
        flex-wrap: wrap;
    }
    .featured-arrow {
        display: none;
    }
    .brandlogo{
        flex-wrap: wrap;
    }
}
